---
import Layout from "../layouts/Layout.astro";

import sanity from "../lib/sanity-client";
import { pageQueryBySlug } from "../lib/sanity-queries";
import type { PageType } from "../lib/types";

import parse from "../utils/parse";

const { slug } = Astro.params;

if (typeof slug !== "string") {
    return Astro.redirect("/");
}

const [categorySlug, pageSlug] = slug.split("/");

const page: PageType = await sanity.fetch(pageQueryBySlug, {
    categorySlug,
    pageSlug,
});

if (!page) {
    return Astro.redirect("/");
}

const { title, lastUpdated } = page;
const body = parse(page.body);
---

<Layout title={title}>
    <div class="space-y-2">
        <section>
            <h1 class="text-2xl font-bold sm:text-3xl lg:text-6xl capitalize">
                {title}
            </h1>
            <p class="text-sm my-2 text-slate-500">
                Last updated: {
                    new Intl.DateTimeFormat("en-US", {
                        day: "numeric",
                        month: "long",
                        year: "numeric",
                    }).format(new Date(lastUpdated))
                }
            </p>
            <article
                aria-label="Post"
                class="prose:slate prose min-w-full prose-p:text-justify prose-p:leading-loose prose-li:leading-loose prose-headings:m-0"
                set:html={body}
            >
            </article>
        </section>
    </div>
</Layout>
