---
import sanity from "../lib/sanity-client";
import { allCategoriesQuery, allPagesQuery } from "../lib/sanity-queries";
import type { CategoryType, PageType } from "../lib/types";

const categories: Array<CategoryType> = await sanity.fetch(allCategoriesQuery);

const pages: Array<PageType> = await sanity.fetch(allPagesQuery);
---

<aside
    id="sidenav-open"
    class="grid lg:block grid-cols-[2fr_1fr] invisible target:visible lg:visible lg:translate-x-0 sticky top-0 max-h-screen -translate-x-full target:translate-x-0 transition-transform"
>
    <div
        class="pl-16 py-28 my-2 bg-slate-50 transition-colors dark:bg-slate-900"
    >
        {
            categories.map((category) => (
                <>
                    <h3 class="mt-4 first:mt-0 mb-2 font-semibold text-2xl lg:text-lg">
                        {category.title}
                    </h3>
                    <ul class="space-y-2 text-slate-500 text-lg lg:text-base">
                        {pages
                            .filter(
                                (page) => page.category.title === category.title
                            )
                            .map((page) => (
                                <li>
                                    <a
                                        href={`/${page.category.slug}/${page.slug}`}
                                    >
                                        {page.title}
                                    </a>
                                </li>
                            ))}
                    </ul>
                </>
            ))
        }
    </div>
    <a
        class="border border-slate-400 select-none touch-manipulation lg:hidden"
        href="#"
        id="sidenav-close"
        title="Close Menu"
        aria-label="Close Menu"
        onchange="history.go(-1)"></a>
</aside>

<style>
    #sidenav-close {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
    }
</style>
