---
import sanity from "../lib/sanity-client";
import { allCategoriesQuery, allPagesQuery } from "../lib/sanity-queries";
import type { CategoryType, PageType } from "../lib/types";

const categories: Array<CategoryType> = await sanity.fetch(allCategoriesQuery);

const pages: Array<PageType> = await sanity.fetch(allPagesQuery);
---

<div class="min-w-fit px-12 mx-4 border-r">
    {
        categories.map((category) => (
            <>
                <h3 class="mt-4 first:mt-0 mb-2 font-semibold text-lg">
                    {category.title}
                </h3>
                <ul class="space-y-2 text-slate-500">
                    {pages
                        .filter(
                            (page) => page.category.title === category.title
                        )
                        .map((page) => (
                            <li>
                                <a href={`/${page.category.slug}/${page.slug}`}>
                                    {page.title}
                                </a>
                            </li>
                        ))}
                </ul>
            </>
        ))
    }
</div>
