---
export interface ItemType {
    label: string;
    href: string;
}

export interface Props {
    items: ItemType[];
}

const { items } = Astro.props;
---

<footer
    aria-label="Footer"
    class="my-6 border-t border-slate-700 flex flex-col justify-between gap-2 py-4 md:flex-row md:items-center"
>
    <p aria-label="Copyright" class="text-lg font-semibold">
        © 2022 Hector Sosa
    </p>
    <div class="flex flex-col gap-2 font-light md:flex-row md:gap-6">
        {
            items.map((item) => (
                <a
                    href={item.href}
                    target="_blank"
                    class="items-centers flex gap-2 text-sm lg:text-base hover:text-slate-600 dark:hover:text-slate-300"
                >
                    <svg
                        class="h-5 w-5 lg:h-6 lg:w-6"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
                        />
                    </svg>
                    {item.label}
                </a>
            ))
        }
    </div>
</footer>
